<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="../../css/reveal.css">
		<link rel="stylesheet" href="../../css/theme/cytoscape-tutorial-1.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="../../lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '../../css/print/pdf.css' : '../../css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="footer">
				<img src="../../assets/images/Cytoscape.png" style="height:70px;opacity:0.5"> 
				<version>3.5.1</version>
				<!-- Version numbers are also independently set for each module -->
			</div>
			<div class="slides"> 
				<!-- Customizable title slide -->
				<section>
				<img class="plain" src="../../assets/images/Cytoscape.png" style="height:100%;margin-bottom:30px;">
				<h2>Advanced Topic: <highlight>Automation</highlight></h2>
				<br /><br />
				<h4>University of Toronto</h4>
				<h5> 29 June 2017</h5>

				<aside class="notes" data-markdown>
				Add speaker notes here...
				</aside>
				</section>

				<section>
				<h1>Goals and Motivations</h1>
				<highlight>By the end of this workshop you should be able to:</highlight>
				<ul>
					<li>Know when and how to use Cytoscape</li>
					<li>Identify relevant types and sources of networks</li>
					<li>Command programmatic control over Cytoscape </li>
                                        <li>Integrate Cytoscape into your bioinformatics pipelines </li>
                                        <li>Publish, share and export networks online </li>
				</ul>

				<aside class="notes" data-markdown>
				Add speaker notes here...
				</aside>
				</section>				

				<!-- Define upto 5 Ribbons per slide to link to module -->
				<section>
				<a href="#" class="navigate-next"><ribbon>Introductions and Concepts</ribbon></a>
				<a href="../finding-networks/index.html" target="_blank"><ribbon>Finding Network Data</ribbon></a>
				<a href="#/2" target="_blank"><ribbon>Network Visualization Overview</ribbon></a>
				<a href="#/2" target="_blank"><ribbon>Network Analysis Overview</ribbon></a>
				<a href="#/2" target="_blank"><ribbon>Automation via CyREST</ribbon></a>

				<aside class="notes" data-markdown>
				Add speaker notes here...
				</aside>
				</section>

				<section>
				<h1>Introductions and Concepts</h1>
				
				<aside class="notes" data-markdown>
                                Add speaker notes here...
                                </aside>
                                </section>

			</div>
		</div>

		<script src="../../lib/js/head.min.js"></script>
		<script src="../../js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,
				controls: true,
				progress: true,
				slideNumber: false,
				touch: true,
				fragments: true,
				help: true,
				showNotes: false,
				previewLinks: false,
				transition: 'slide', // none/fade/slide/convex/concave/zoom
				width: 960,
				height: 700,
				autoSlide: 0,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
				{ src: '../../plugin/markdown/marked.js' },
				{ src: '../../plugin/markdown/markdown.js' },
				{ src: '../../plugin/notes/notes.js', async: true },
				{ src: '../../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
				});
			</script>
		</body>
	</html>
