/**
 * Cytoscape tutorial 1 theme based off of 'white' theme for reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$mainFontSize: 20pt;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;

$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

// headers
$heading1Color: #fff;
$heading1Font: 'Source Sans Pro', Helvetica, sans-serif;
$heading1TextShadow: 2px 2px #000;
$heading1TextTransform: none;
$heading1FontWeight: 600;
$heading1BackgroundColor: #555;
$heading1Padding: 5px 0 5px 0;

$headingColor: #222;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingTextTransform: none;
$headingFontWeight: 600;

$heading1Size: 1.8em;
$heading2Size: 1.8em;
$heading3Size: 1.6em;
$heading4Size: 1.4em;

// ribbons
$ribbonSize: 1.8em;
$ribbonTextTransform: none;

// others
$pTextAlign: left;
$imgBorder: 0px;

// tables
$tableHeaderTextColor: #fff;
$tableHeaderBackgroundColor: #2980b9;

// Additional CSS
section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.reveal highlight {
  color: #F7941E;
  font-weight: bold;
}

.footer {
  position: absolute;
  left: 2em;
  bottom: 1em;
}

.footer version {
  vertical-align: 0.95em;
  font-size: 19px;
  color: #888;
  margin-left: 0.1em;
}

.column {
  width:45%;
  float:left;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// boostrap buttons
.btn {
display: inline-block;
padding: 7px 12px;
padding-top: 7px;
margin-bottom: 0;
font-size: 22px;
line-height: 20px;
color: #5e5e5e;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-color: #d1dade;
-webkit-border-radius: 3px;
-webkit-border-radius: 3px;
-webkit-border-radius: 3px;
background-image: none !important;
border: none;
text-shadow: none;
box-shadow: none;
transition: all 0.12s linear 0s !important;
font: 22px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn-cons {
margin-right: 5px;
min-width: 120px;
margin-bottom: 8px;
}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
}
.btn-primary {
color: #fff;
background-color: #428bca;
border-color: #357ebd;
}
.btn-success {
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
}
.btn-info {
color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
}
.btn-warning {
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
}
.btn-danger {
color: #fff;
background-color: #d9534f;
border-color: #d43f3a;
}
.btn-white {
color: #5e5e5e;
background-color: #fff;
border: 1px solid #e5e9ec;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
background-color: transparent;
-webkit-box-shadow: none;
box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
border-color: transparent;
}
.btn-link {
color: #5e5e5e;
background-color: transparent;
border: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
border-color: transparent;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
}
